<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Food Ordering App</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css">
</head>

<body>
  <div class="container mt-5">
    <h1 class="mb-4">Food Menu</h1>
    <div class="row">

      {% for p in products %}
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card">
            <!-- {% if p.product_image %}
          <img src="{{p.product_image.url}}" class="card-img-top" alt="{{p.product.product_name}}">
          {% endif %} -->
          <div class="card-body">
            <h5 class="card-title">{{p.product.product_name}}</h5>
            <p class="card-text">{{p.product.product_description}}</p>
            <p class="card-text">Price: Pkr{{p.product.product_price}}</p>
            <p class="card-text">Quantity: {{p.product.product_quantity}}</p>
            <div class="row">
                <div class="col-md-6">
                    <a href="#" class="btn btn-outline-primary">Order Now</a>
                </div>
                <div class="col-md-6">
                    <a href="/product-details/{{p.product.product_slug}}" class="btn btn-outline-info ml-3" >Details</a>
                </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}

    </div>
  </div>

  <!-- Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/js/bootstrap.min.js"></script>
</body>

</html>
